@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

/* Hide Scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Custom Selection Color */
::selection {
    background-color: #4189DD;
    color: white;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

@keyframes flight-path {
    0% {
        transform: translateX(-120%) rotate(90deg);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translateX(120%) rotate(90deg);
        opacity: 0;
    }
}

.animate-flight-path {
    animation: flight-path 8s linear infinite;
}

@keyframes flight-path-flat {
    0% {
        transform: translateX(-120%) scaleX(-1);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translateX(120%) scaleX(-1);
        opacity: 0;
    }
}

.animate-flight-path-flat {
    animation: flight-path-flat 8s linear infinite;
}